@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Bold.woff2') format('woff2'),
        url('SSTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

